<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>English words</title>
    <link rel="stylesheet" href="..static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="..static/css/user-style.css" th:href="@{/css/user-style.css}"/>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <h2>English words</h2>
    </div>
</div>

<p>
    <input type="button" value="Add word" onclick="window.location.href='add-word'; return false">
    <a href="add-word">+</a>
</p>
<p>
    <input type="button" value="Add translation" onclick="window.location.href='add-rus-translation'; return false">
    <a href="add-eng-translation">+</a>
</p>

<div id="container">
    <div id="content">
        <table>
            <tr>
                <th>Id</th>
                <th>Eng</th>
                <th>Rus</th>
                <th>Edit</th>
            </tr>

            <tr th:each="word : ${words}">
                <td><span th:text="${word.id}">Id</span></td>
                <td><span th:text="${word.word}">Eng</span></td>
                <td><span th:text="${word.engRus}">Rus</span></td>
                <td>
                    <a th:href="@{/eng/update/{id}(id=${word.id})}">Edit</a>
                    |
                    <a th:href="@{/eng/delete/{id}(id=${word.id})}"
                       onclick="if (!(confirm('Are you sure?'))) return false" >Delete</a>
                </td>
            </tr>
        </table>
        <a href="../rus/list">Rus words</a>
    </div>
</div>
</body>
</html>