<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/static/css/index.css}"/>
</head>
<body>
    <form action="/process-form" method="GET">
        <input type="text" name="userName" placeholder="What's your name">
        <input type="submit">
    </form>

    <p class="funny" th:text="'Time on server is ' + ${serverTime}"></p>
    <a href="/employees">Employees</a>
</body>
</html>