<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Русские слова</title>
    <link rel="stylesheet" href="..static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="..static/css/user-style.css" th:href="@{/css/user-style.css}"/>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <h2>Список русских слов</h2>
    </div>
</div>

<p><input type="button" value="Add word" onclick="window.location.href='add-word'; return false"></p>
<p><input type="button" value="Add translation" onclick="window.location.href='add-eng-translation'; return false"></p>

<div id="container">
    <div id="content">
<!--        <table>-->
<!--            <tr>-->
<!--                <th>Id</th>-->
<!--                <th>Rus word</th>-->
<!--                <th>Eng word</th>-->
<!--            </tr>-->

<!--&lt;!&ndash;            <tr th:each="word : ${rusWords}">&ndash;&gt;-->
<!--&lt;!&ndash;                <td><span th:text="${word.id}">Id</span></td>&ndash;&gt;-->
<!--&lt;!&ndash;                <td><span th:text="${word.word}">Rus word</span></td>&ndash;&gt;-->
<!--&lt;!&ndash;                &ndash;&gt;-->
<!--&lt;!&ndash;            </tr>&ndash;&gt;-->

<!--            <tr th:each="word : ${rus.rusEng}">-->
<!--                <td><span th:text="${rus.id}">Id</span></td>-->
<!--                <td><span th:text="${rus.word}">Rus word</span></td>-->

<!--            </tr>-->
<!--        </table>-->
<!--        <form class="ui form" th:action="@{/}" method="get" th:object="${rusWords}">-->
<!--            <ul>-->
<!--                <li th:each="eng : ${engWords}">-->
<!--                    <div>-->
<!--&lt;!&ndash;                        <input type="text" th:field="*{word}" th:value="${eng.id}">&ndash;&gt;-->
<!--                        <label th:text="${eng.word}"></label>-->
<!--                    </div>-->
<!--                </li>-->
<!--            </ul>-->

<!--            <div class="field">-->
<!--                <button class="ui button" type="submit">Submit</button>-->
<!--            </div>-->
<!--        </form>-->
        <table>
            <tr>
                <th>Id</th>
                <th>Word</th>
                <th>Word</th>
            </tr>

            <tr th:each="word : ${rusWords}">
                <td><span th:text="${word.id}">Id</span></td>
                <td><span th:text="${word.word}">Login</span></td>
                <td><span th:text="${word.rusEng}">Login</span></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>