<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Save word</title>
    <link rel="stylesheet" href="..static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="..static/css/user-style.css" th:href="@{/css/user-style.css}"/>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <h2>Add translation</h2>
    </div>
</div>

<div id="container">
    <form th:action="@{save-translation}" th:object="${form}" method="post">
        <table>
            <tr>
                <td>Word:</td>
                <td><input type="text" th:field="*{word}"/></td>
            </tr>

            <tr>
                <td>Word:</td>
                <td><input type="text" th:field="*{translationWord}"/></td>
            </tr>

<!--            <tr>-->
<!--                <td>Word:</td>-->
<!--                <td><input type="text" th:field="${form2.word}"/></td>-->
<!--            </tr>-->
            <tr>
                <td><button type="submit">Save</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>