<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
    <link rel="stylesheet" href="..static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="..static/css/user-style.css" th:href="@{/css/user-style.css}"/>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <h2>Edit word</h2>
    </div>
</div>

<div id="container">
    <form th:action="@{/rus/update/{id}(id=${words.id})}" th:object="${words}" method="post">
        <table>
            <tr>
                <td>Word:::</td>
                <td><input type="text" th:field="*{word}"/></td>
            </tr>
<!--            <tr>-->
<!--                <td>Translation:</td>-->
<!--                <td><input type="text" th:field="*{rusEng}"/></td>-->
<!--            </tr>-->
            <tr>
                <td><button type="submit">Edit</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>